.window-content {
  background-color: white;
  border: 4px ridge #ccc;
  box-shadow:
    2px 2px 8px rgba(0, 0, 0, 0.3);
  
  max-height: 80vh;
  overflow-y: auto;     
  overflow-x: hidden;

  padding: 1rem;  
}

::-webkit-scrollbar-button { display: none; }
