---
layout: desktop-layout.njk
title: "Welcome to my Desktop"
---

<div id="parallax-container">
    <div id="background-layer"></div>

    <div class="desktop">
        <a href="/resume.html" class="shortcut">
            <img src="/images/icons/resume.png" alt="Resume icon">
            <span>Resume</span>
        </a>

        <a href="/devlog.html" class="shortcut">
            <img src="/images/icons/devlog.png" alt="Devlog icon">
            <span>Devlog</span>
        </a>

        <a href="/games.html" class="shortcut">
            <img src="/images/icons/games.png" alt="Games icon">
            <span>Games</span>
        </a>
    </div>
</div>