<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{ title or "Desktop" }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://unpkg.com/98.css">
  <link rel="stylesheet" href="/styles/main.css" />
</head>
<body>
  {{ content | safe }}
  <script src="/scripts/desktop.js"></script>
</body>
</html>