@import 'tailwindcss';
@import './components/shortcut.css';
@import './components/parallax.css';
@import './components/window.css';
@import './components/divider.css';

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}
