---
layout: desktop-layout.njk
title: "Welcome to my Desktop"
---

<div id="parallax-container">
    <div id="background-layer"></div>
    <!-- Shortcuts -->
    <div class="desktop">
        <a class="shortcut" data-page='resume'>
            <img src="/images/icons/resume.png" alt="Resume icon">
            <span>Resume</span>
        </a>

        <a class="shortcut" data-page='devlog'>
            <img src="/images/icons/devlog.png" alt="Devlog icon">
            <span>Devlog</span>
        </a>

        <a class="shortcut" data-page='games'>
            <img src="/images/icons/games.png" alt="Games icon">
            <span>Games</span>
        </a>
    </div>

    <!-- Modal Window -->
    <div id="window-modal" class="window absolute-center" style="display: none;">
        <div class="title-bar">
            <div id="modal-title" class="title-bar-text">A Complete Window</div>
            <div class="title-bar-controls">
                <button aria-label="Minimize"></button>
                <button aria-label="Maximize"></button>
                <button aria-label="Close"></button>
            </div>
        </div>
        <div id="modal-content" class="window-body"></div>
    </div>
</div>